
@font-face {
    font-family:'Gotham-Rounded';
    src:url('../font/gotham-rounded/GothamRounded-Light.otf') format('opentype');
    font-weight:lighter;
   }

   @font-face {
    font-family:'Gotham-Rounded';
    src:url('../font/gotham-rounded/GothamRounded-Book.otf') format('opentype');
    src:url('../font/GothamRounded_eot/GothamRoundedBook_21018.eot');/* IE9 Compat Modes */
    src:url('../font/GothamRounded_eot/GothamRoundedBook_21018.eot?#iefix') format("embedded-opentype"),/* IE6-IE8 */
        url('../font/gothamRounded_woff/GothamRoundedBook_21018.woff')format("woff"), /* Modern Browsers */
        url('../font/gothamRounded_ttf/GothamRoundedBook_21018.ttf') format("truetype"); /* Safari, Android, iOS */
    font-weight:normal;
   }

   @font-face {
    font-family:'Gotham-Rounded';
    src:url('../font/gotham-rounded/GothamRounded-Medium.otf') format('opentype');
    src:url('../font/GothamRounded_eot/GothamRoundedMedium_21022.eot');/* IE9 Compat Modes */
    src:url('../font/GothamRounded_eot/GothamRoundedMedium_21022.eot?#iefix') format("embedded-opentype"),/* IE6-IE8 */
        url('../font/gothamRounded_woffGothamRoundedMedium_21022.woff')format("woff"), /* Modern Browsers */
        url('../font/gothamRounded_ttf/GothamRoundedMedium_21022.ttf') format("truetype"); /* Safari, Android, iOS */
    font-weight:bolder
   }
   
   
body {
    font-family:'Gotham-Rounded';
  
}

/*////// POLIZAS //////*/

nav{
    background: #101E8E 0% 0% no-repeat padding-box;
}
nav img {
    width:12rem;
    padding: 0.9rem;
    padding-bottom: 2.5rem;
 
}

.boldTitulo{
    color: #707070;
    font-weight: normal;
    font-size: 1.1em;
}

.boldTituloPequeno{
    font-weight: normal;
    font-size: 0.8rem;
    color:#101E8E; 
}
.lightTitulo{
    color: #707070;
    font-weight:lighter;
    font-size: 0.8rem;
}

.estadoSiniestro{
    margin-left: 450px;
}

input[type="text"],
select.form-control,select option,  #date{
  background: transparent;
  border: none;
  border-bottom: 1px solid #707070;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;

}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #101E8E;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.paddingInput {
    padding-top: 30px;
}
.btnAplicar{
    background: #FFFFFF; 
    color:#101e8e;
    border: none!important;
    white-space:normal !important;
    word-wrap: break-word; 
    width: 10rem;
    padding:0;

}
.btnAplicar:hover{
    background: #101e8e; 
    color:#FFFFFF;
    border: none!important;
    white-space:normal !important;
    word-wrap: break-word; 
  
}
.boldTituloPolizas, .boldTituloSiniestro{
color:#101E8E;
}

table .thead-green th {
    color: #fff;
    background-color: #49C3B1;
    border-color: none;
}

.textoTabla1{
    font-weight: normal;
    font-size: 0.8rem;
}

.filaTabla1{
border-bottom: 1px solid #dee2e6;
}

.flechaTabla {
    width:24px;
    float: left;
}
.tablaEmbebida{
  background: #FFFFFF 0% 0% no-repeat padding-box;  
  opacity: 1; 
  color: #5C6670;
}

.textoTituloTablaEmbebida{
   background: #CED1E8  no-repeat padding-box;
     opacity: 1; 
     color: #101e8e;
     font-weight:normal;
     font-size: 0.8rem;
}

.textoTablaEmbebida {
    font-weight:normal;
    font-size: 0.8rem;
}

.segundaFila{
 padding-bottom: -10rem;
}

.table-stripedSouthbridge tbody tr:nth-of-type(odd) {
    background-color: #49C3B133;
}

.table-stripedSouthbridgeBlue tbody tr:nth-of-type(odd) {
    background-color: #F5F5FA;
}

.tablaMobile{
    font-size: 0.7rem;
    border-bottom:none;
    border-top:none;
    width: 100%;
}

.tableMobile thead th, .tableMobile2 thead th{
    border-bottom: none!important;
}

.tablaMobile td, .tablaMobile th{
    border-top:none!important;
    padding: 0.75rem;
    font-size: 0.9rem;
}

.tablaMobile2 td, .tablaMobile2 th{
    
    background: #CED1E880;
    font-size: 0.9rem;

}

.fondoVerdeClaro{
    background: #49C3B133;
}

.tipografiaAzulTabla{
    color:#101e8e;
}

.tipografiaAzulTablaMobile{
    color:#101e8e;
    padding: 0.8rem;
    font-size: 0.8rem;
}


/*////// DETALLE SINIESTRO //////*/
.tituloDetalleSiniestro{
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.tituloDetalleSiniestro h5{
   padding-top: 10px;;
}

.tituloDetalleSiniestro i{
    font-size:1rem;
    color:#707070;
    padding-top: 1.7rem;
    padding-left: 1.4rem;
}

.tituloDatoPoliza, .tituloDatoSiniestro {
    font-size:0.8rem;
    color:#a8a8a8;
}

.datoPoliza, .datoSiniestro {
    font-size:1rem;
    color:#707070;
}

table .thead-blue th {
    color: #111E90;
    background-color: #CED1E8;
    border-color: none;
}

.continuar{
    color: #111E90;
    font-size: 1rem;
}

/*////// INGRESO Y MODIFICACIÓN SINIESTRO //////*/

.fondoAzulClaro{
    background: #F5F6FA ;
}

/* Switch */
.switch {
    width: 0.8rem;
}
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }

input.cmn-toggle-round-flat + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #CED1E8;
    border-radius: 30px;
    transition: background 0.4s;
  }
  input.cmn-toggle-round-flat + label:before,
  input.cmn-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
    background-color: gray;
  }
  input.cmn-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #CED1E8;
    border-radius: 40px;
    transition: background 0.4s;
  }
  input.cmn-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 20px;
    background-color: #b6b6b6;
    border-radius: 30px;
    transition: margin 0.4s, background 0.4s;
  }
  
  input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 30px;
    background-color: #101E8E;
  }

  /* Fecha */
  .bootstrap-iso .formden_header h2,
    .bootstrap-iso .formden_header p,
    .bootstrap-iso form {
      font-family: Arial, Helvetica, sans-serif;
      color: black
    }

    .bootstrap-iso form button,
    .bootstrap-iso form button:hover {
      color: white !important;
    }

    .asteriskField {
      color: red;
    }

  .bootstrap-iso .input-group .form-control {
  width: 200px!important;
}
.bootstrap-iso .input-group-addon {
    border:none!important;
    background-color:#FFFFFF!important;
}
 /* Adjuntos */

 .btnAdjuntos{
  background-color: #A32364!important;
  border:none;
  border-radius: 20px;
  font-size:0.7rem;
   height: 2rem;;
 }

 .btnEnviar{
    background: #101e8e; 
    color:#FFFFFF;
    border: none!important;
    white-space:normal !important;
    word-wrap: break-word; 

 }

 /*////// POP UPS //////*/
.confirmar {
    margin-right: 15px!important;
}
 .tituloPopUp{
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
}

.tituloPopUp i{
    font-size:1rem;
    color:#707070;
    padding-top: 2.5rem;
    padding-left: 1.4rem;
}

 .popUpAlert{
margin-top:13%;
height: 60vh;
 }

.popUpAlert h3{
    color: #101E8E;
    font-weight: normal;
    font-size: 1.2rem;
}

.popUpAlert p{
    color: #707070;
    font-weight:lighter;
    font-size: 1rem;
}

/*////// VISTA PREVISUALIZADORA //////*/

.archivoPrueba{
    max-width: 100%; 
    height: 100vh;
}